<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="/static/images/icon.png">
    <link rel="stylesheet" href="/static/css/login_page.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <script src="/static/script/login_validation.js"></script>
    <div id="header">
        <h1>CHAT BOT</h1>
        <nav>
            <pre><a href="{{ url_for('login') }}">LOGIN</a> | <a href="{{ url_for('register') }}">REGISTER</a></pre>
        </nav>
    </div>
    <hr>
    <div id="login">
        <div class="login_border">
            <img id="loginpic" src="/static/images/gif_login.gif" alt="loginpic" height="150" width="150">
            <form action="/login" method="post">
                <i class="bi bi-envelope-at-fill"></i>
                <input id="email" name="email" class="input" type="text" placeholder="Email"><br>
                <i class="bi bi-lock-fill"></i>
                <input id="password" name="password" class="input" type="password" placeholder="Password"><br>
                <button id="button" class="input" type="submit" onclick="check()">Login</button>
            </form>    
        </div>
    </div>
</body>
</html>